
.parent-flex {
    display: flex;
    flex-direction: row;
}
.btn-cont {
    button {
        margin-left: 5px;
        border: 1px solid transparent;
        vertical-align: top;
        height: 25px;
        line-height: 0;
    }
}

.container-dropdown-form {
    display: flex;
    flex-direction: row;
    background: none;
}

.add-item {
    margin: 30px;
}

.list-item-container {
    height: 200px;
    width: 200px;
    border: 1px solid purple;
    background: none;

    .deleteBtn {
        float: right;
        width: auto;
        background: none;
        color: purple;
        border: none;
    }
}

.select-cont {
    height: 30px;
    margin: 20px;
}

.list-container {
    display: flex;
    text-align: center;
    .box {
        width: 200px;
        height: 200px;
        border: 1px solid purple;
        margin-left: 140px;
        margin-top: 140px;

        &:nth-of-type(2) {
            margin-left: 20px;
        }
    }
}

.input-and-box-container {
    position: relative;

    .btn-cont {
        float: left;
        position: absolute;
        top: 50px;
        right: 130px;
    }

    input {
        position: absolute;
        right: 160px;
        top: 50px;
    }
}

.special-list {
    margin-top: 20px;
    border: 1px solid purple;
    height: 260px;

    .input-list-container {
        margin: 20px;

        &:nth-of-type(2) {
            position: relative;
            top: -250px;
            right: -500px;
        }

        input {
            width: 200px;
        }

        button {
            margin-left: 5px;
        }

        .list-container {
            display: block;

            .box {
                margin: 0;

                .list-title {
                    text-decoration: underline;
                }

                .list {
                    overflow: auto;
                    height: 170px;

                    .list-word-container {
                        > div {
                            &:nth-of-type(1) {
                                margin-top: 5px;
                            }
                            display: flex;
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
    }
}

.modal-message {
    border: 1px solid red;
    height: 30px;
    width: 30px;
}

.counter-container {
    margin-top: 20px;
    border: 1px solid purple;
    height: 260px;
    margin-bottom: 20px;
    position: relative;

    .counter-button-container {
        &:nth-of-type(1) {
            position: absolute;
            top: calc(50% - 50px);
            left: 0;
            width: 100px;
            height: 100px;
            vertical-align: middle;
        }

        &:nth-of-type(2) {
            position: absolute;
            top: calc(50% - 50px);
            right: 0;
            width: 100px;
            height: 100px;
        }
        .counter-button {
            width: 100%;
            height: 100%;
            font-size: 50px;

            &:hover, &:active {
                transform: scale(0.85);
              }
        }
    }
    .number-value {
        font-size: 100px;
        text-align: center;
        margin: 0 auto;
        width: 100px;
        height: 260px;
    }
}

.counter-value {   
    font-size: 200px;
    margin: 0 auto;
    text-align: center;
    width: 200px;
    height: auto;
}