.MuiFormControl-root  {
    margin-left: 20px !important;
}

.cls-1 {
    fill-rule:evenodd;
}

.MuiButton-root {
    height: 40px;
    line-height: 40px;
    //background: lightblue;
    //color: green;
}

.css-1knaqv7-MuiButtonBase-root-MuiButton-root:hover {
    background: #0250bc !important;
}

.MuiButton-contained {
    width: 100px !important; 
}

.form-section {
    display: inline-grid;
}

.comment-text {
    display: block;
}