.name-box {
    margin-left: 20px;
    border: 1px solid gray;
    width: 40px;
    padding: 0 2px;

    &:nth-of-type(2) {
        margin-top: 10px;
        margin-bottom: -10px;
    }
}

.change-button {
    background: blue;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 2px 10px;
    margin-top: 15px;
    margin-left: 20px;
}