.svg-class {
    background: none;
    color: red;
    border: none;

    &:hover, &:focus {
        //background: none;
        background: none;
    }
}

.btn-primary {
    color: black !important;
    background: none !important;
    border: none !important;
    box-shadow: none !important;

    &:focus {
        color: black;
        background: none;
        border: none;
    }
}

#closeBtn {
    color: honeydew !important;
    background: blue !important;

    &:hover {
        background: black !important;
    }
}

#saveBtn {
    color: honeydew !important;
    background: orange !important;
    &:hover {
        background: red !important;
    }
}

.modal-body {
    display: contents;
    > div {
        margin: 10px auto;

        label, input {
            display: block;
        }
    }
}

.modal-header {
    border-bottom: none !important;
}

.modal-footer {
    border-top: none !important;
}

.email {
    display: flow-root;

    input {
        border: 1px solid #cdcdcd;
    }
}