.increment, .decrement {
    color: #fff !important;
    margin-right: 5px;
    border: none;
    background-color: #000 !important;

    &:focus {
        display: none;
    }
}

.api-data {
    border: 2px solid blueviolet;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;

    p {
        color: black;
        &:nth-of-type(1) {
            font-weight: bold;
        }
    }
}