.login-container {
  margin: 150px auto;
  width: 500px !important;
  height: 300px;

  .btn-primary {
    color: #fff !important;
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;

    &:hover {
      background: darkblue !important;
    }
  }

  .btn-link {
    text-decoration: none;
    background: #c4a484;
    color: #fff;
    margin-left: 10px;
    &:focus {
      box-shadow: none;
    }
    &:hover {
      color: #fff;
      background: #654321 !important;
    }
  }
}

.form-group {
  .btn-primary,
  .btn-link {
    margin-top: 20px;
  }
}

.math-problem {
  position: absolute;
  top: 0;
  left: 0;
}

.Toastify {
  position: absolute;
  top: 0;
}

.Toastify__toast-theme--light {
  background: red !important;
  color: #fff !important;
}

.Toastify__close-button > svg {
  fill: #fff !important;
  z-index: 3;
}
