.slick-slider {
    background: blue;
    color: #fff;
    height: 400px;
    width: 750px;
    margin: 0 auto;

    .slick-prev {
        left: 3% !important;
        z-index: 1;
      }
      .slick-next {
        right: 3% !important;
        z-index: 1;
      }
}