.slick-slider {
    background: #4fc5b6;
    color: #fff;
    height: 400px;
    width: 750px;
    margin: 0 auto;

    .slick-prev {
        left: 3% !important;
        z-index: 1;
        &::before {
            font-size: 50px;
            position: absolute;
            left: 50%;
        }
      }
      .slick-next {
        right: 3% !important;
        z-index: 1;
        &::before {
            font-size: 50px;
            position: absolute;
            right: 50%;
        }
      }
}